body {
  background: #64c864; }

section {
  background: rgba(100, 200, 100, 0.8); }

section div {
  background: white;
  background: #111111;
  font-family: "Open Sans";
  font-weight: bold;
  padding: 4;
  font-family: "BOLD";
  font-family: "bold";
  width: 400%;
  margin: 2;
  margin: 3;
  margin: 2; }

div {
  width: 50%; }
