.msg, .msg-error, .msg-alert {
  border: 1px solid;
  padding: 4px;
  text-align: center; }

.msg-error {
  border-color: #ff0000;
  color: #ff0000; }

.msg-alert {
  border-color: #ff8e00;
  color: #ff8e00; }

a:hover, .hoverlink {
  text-decoration: underline; }

.hoverlink {
  color: #000; }
